<div>
  <link rel="stylesheet" href="https://storage.googleapis.com/assets-front/fonts/epy-icons.css">
  <h1>Icons</h1>
  <hr />
  <div class="subtitle-container">
    <div class="subtitle">Epy Font Icons</div>
  </div>
  <div class="epy-row">
    <p>To use the icon font library import the following css on your header:</p>
    <pre>
    <code class="html" Highlight>&lt;link rel="stylesheet" href="https://storage.googleapis.com/assets-front/fonts/epy-icons.css"/&gt;</code>
  </pre>
  </div>
  <div class="epy-row">
    <div class="subtitle-container">
      <div class="subtitle">Classes</div>
    </div>
    <p>You can use an icon class like this:
      <code class="html" Highlight>
        &lt;span class="epy-icon-acount-settings"&gt;&lt;/span&gt;
      </code>
    </p>
    <p>
      also change the color of the icon with the <span style="font-family: monospace; color: darkred;">'color'</span> css property.
    </p>
  </div>
</div>
<div class="epy-row">
  <div class="all-icons">
    <div class="icon-show">
      <i class="epy-icon-acount-settings"></i>
      <span class="mono"> epy-icon-acount-settings</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-add-new"></span>
      <span class="mono"> epy-icon-add-new</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-add-user"></span>
      <span class="mono"> epy-icon-add-user</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-arrow-double"></span>
      <span class="mono"> epy-icon-arrow-double</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-arrow-down"></span>
      <span class="mono"> epy-icon-arrow-down</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-arrow-left"></span>
      <span class="mono"> epy-icon-arrow-left</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-arrow-right"></span>
      <span class="mono"> epy-icon-arrow-right</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-arrow-up"></span>
      <span class="mono"> epy-icon-arrow-up</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-book-mark-entropy"></span>
      <span class="mono"> epy-icon-book-mark-entropy</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-business-catalog"></span>
      <span class="mono"> epy-icon-business-catalog</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-button-entropy"></span>
      <span class="mono"> epy-icon-button-entropy</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-button-google-ads"></span>
      <span class="mono"> epy-icon-button-google-ads</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-button-search"></span>
      <span class="mono"> epy-icon-button-search</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-button-shopping"></span>
      <span class="mono"> epy-icon-button-shopping</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-calendar-empty"></span>
      <span class="mono"> epy-icon-calendar-empty</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-calendar"></span>
      <span class="mono"> epy-icon-calendar</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-camera"></span>
      <span class="mono"> epy-icon-camera</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-cards"></span>
      <span class="mono"> epy-icon-cards</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-caret-down"></span>
      <span class="mono"> epy-icon-caret-down</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-caret-left"></span>
      <span class="mono"> epy-icon-caret-left</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-caret-right"></span>
      <span class="mono"> epy-icon-caret-right</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-caret-up"></span>
      <span class="mono"> epy-icon-caret-up</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-charts"></span>
      <span class="mono"> epy-icon-charts</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-checkbox-checked-guion"><span class="path1"></span><span class="path2"></span></span>
      <span class="mono"> epy-icon-checkbox-checked-guion</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-checkbox-checked"></span>
      <span class="mono"> epy-icon-checkbox-checked</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-close-off"></span>
      <span class="mono"> epy-icon-close-off</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-competition-pricing"></span>
      <span class="mono"> epy-icon-competition-pricing</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-contact-us"></span>
      <span class="mono"> epy-icon-contact-us</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-create-a-new-campaign-shopping"><span class="path1"></span><span class="path2"></span><span
          class="path3"></span></span>
      <span class="mono"> epy-icon-create-a-new-campaign-shopping</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-create-campaign"></span>
      <span class="mono"> epy-icon-create-campaign</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-csv"></span>
      <span class="mono"> epy-icon-csv</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-delete-button"></span>
      <span class="mono"> epy-icon-delete-button</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-details"></span>
      <span class="mono"> epy-icon-details</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-download"></span>
      <span class="mono"> epy-icon-download</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-duplicate"></span>
      <span class="mono"> epy-icon-duplicate</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-edit-delete"></span>
      <span class="mono"> epy-icon-edit-delete</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-edit-settings"></span>
      <span class="mono"> epy-icon-edit-settings</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-edit"></span>
      <span class="mono"> epy-icon-edit</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-determined"></span>
      <span class="mono"> epy-icon-face-determined</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-good-job"></span>
      <span class="mono"> epy-icon-face-good-job</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-happy"></span>
      <span class="mono"> epy-icon-face-happy</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-not-sure"></span>
      <span class="mono"> epy-icon-face-not-sure</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-not-sure2"></span>
      <span class="mono"> epy-icon-face-not-sure2</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-face-sad"></span>
      <span class="mono"> epy-icon-face-sad</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-facebook"></span>
      <span class="mono"> epy-icon-facebook</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-faqs"></span>
      <span class="mono"> epy-icon-faqs</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-filter"></span>
      <span class="mono"> epy-icon-filter</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-google-ads"></span>
      <span class="mono"> epy-icon-google-ads</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-graphics"></span>
      <span class="mono"> epy-icon-graphics</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-guide"></span>
      <span class="mono"> epy-icon-guide</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-hamburger-menu"></span>
      <span class="mono"> epy-icon-hamburger-menu</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-heart-fill"></span>
      <span class="mono"> epy-icon-heart-fill</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-heart"></span>
      <span class="mono"> epy-icon-heart</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-help-center"></span>
      <span class="mono"> epy-icon-help-center</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-help"></span>
      <span class="mono"> epy-icon-help</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-home"></span>
      <span class="mono"> epy-icon-home</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-import-campaign"></span>
      <span class="mono"> epy-icon-import-campaign</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-integration-entropy"></span>
      <span class="mono"> epy-icon-integration-entropy</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-integration-shopify"></span>
      <span class="mono"> epy-icon-integration-shopify</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-integration"></span>
      <span class="mono"> epy-icon-integration</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-leads"></span>
      <span class="mono"> epy-icon-leads</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-load-manually"></span>
      <span class="mono"> epy-icon-load-manually</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-location"></span>
      <span class="mono"> epy-icon-location</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-lock"></span>
      <span class="mono"> epy-icon-lock</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-logout"></span>
      <span class="mono"> epy-icon-logout</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-manage-pixels"></span>
      <span class="mono"> epy-icon-manage-pixels</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-manage-users"></span>
      <span class="mono"> epy-icon-manage-users</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-minus"></span>
      <span class="mono"> epy-icon-minus</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-money"></span>
      <span class="mono"> epy-icon-money</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-notifications-none"></span>
      <span class="mono"> epy-icon-notifications-none</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-notifications-small"><span class="path1"></span><span class="path2"></span></span>
      <span class="mono"> epy-icon-notifications-small</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-onboarding-small"></span>
      <span class="mono"> epy-icon-onboarding-small</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-organization"></span>
      <span class="mono"> epy-icon-organization</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-pause"></span>
      <span class="mono"> epy-icon-pause</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-payments"></span>
      <span class="mono"> epy-icon-payments</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-picture"></span>
      <span class="mono"> epy-icon-picture</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-pin"></span>
      <span class="mono"> epy-icon-pin</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-plus-button-i"></span>
      <span class="mono"> epy-icon-plus-button-i</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-plus-button"></span>
      <span class="mono"> epy-icon-plus-button</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-plus-button2"></span>
      <span class="mono"> epy-icon-plus-button2</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-plus-sign"></span>
      <span class="mono"> epy-icon-plus-sign</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-read-only"></span>
      <span class="mono"> epy-icon-read-only</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-recommendations"></span>
      <span class="mono"> epy-icon-recommendations</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-search-menu"></span>
      <span class="mono"> epy-icon-search-menu</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-search-new-campaign"><span class="path1"></span><span class="path2"></span><span
          class="path3"></span></span>
      <span class="mono"> epy-icon-search-new-campaign</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-search-v1"></span>
      <span class="mono"> epy-icon-search-v1</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-settings"></span>
      <span class="mono"> epy-icon-settings</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-shopify"><span class="path1"></span><span class="path2"></span><span
          class="path3"></span></span>
      <span class="mono"> epy-icon-shopify</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-shopping"></span>
      <span class="mono"> epy-icon-shopping</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-star-fill"></span>
      <span class="mono"> epy-icon-star-fill</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-star"></span>
      <span class="mono"> epy-icon-star</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-target"></span>
      <span class="mono"> epy-icon-target</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-tips"></span>
      <span class="mono"> epy-icon-tips</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-triangle-down"></span>
      <span class="mono"> epy-icon-triangle-down</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-triangle-up"></span>
      <span class="mono"> epy-icon-triangle-up</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-upload-url"></span>
      <span class="mono"> epy-icon-upload-url</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user-admin"></span>
      <span class="mono"> epy-icon-user-admin</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user-custom"></span>
      <span class="mono"> epy-icon-user-custom</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user-editor"></span>
      <span class="mono"> epy-icon-user-editor</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user-read-only"></span>
      <span class="mono"> epy-icon-user-read-only</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user-settings"></span>
      <span class="mono"> epy-icon-user-settings</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-user"></span>
      <span class="mono"> epy-icon-user</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-watch"></span>
      <span class="mono"> epy-icon-watch</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-x"></span>
      <span class="mono"> epy-icon-x</span>
    </div>
    <div class="icon-show">
      <span class="epy-icon-home2"></span>
      <span class="mono"> epy-icon-home2</span>
    </div>
  </div>
</div>