<h1>Cards</h1>
<hr />

<!-- Cards -->
<div class="wrapper-section">
  <div class="subtitle-container subtitle-icon">
    <h4>Cards</h4>
    <i class="fa fa-code" (click)="cardDisplay = !cardDisplay"></i>
  </div>

  <div class="epy-row">
    <div class="col-3 col-4-m col-3-s">
      <span>card</span>
      <div class="card" style="height: 80px;"></div>
    </div>

    <div class="col-3 col-4-m col-3-s">
      <span>card hoverable</span>
      <div class="card hoverable" style="height: 80px;"></div>
    </div>

    <div class="col-6 col-8-m col-4-s">
      <span>card panel</span>
      <div class="card-panel hoverable" style="height: 80px;"></div>
    </div>
  </div>

  <div class="code-container" [ngClass]="{ hidden: !cardDisplay }">
    <pre>
    <code class="html" Highlight>
    &lt;div class="card"&gt;&lt;/div&gt;
    &lt;div class="card hoverable"&gt;&lt;/div&gt;
    &lt;div class="card-panel hoverable"&gt;&lt;/div&gt;
    </code>
    </pre>
  </div>
</div>

<!-- Templetes -->
<div class="wrapper-section">
  <div class="subtitle-container subtitle-icon">
    <h4>Templetes</h4>
    <i class="fa fa-code" (click)="campaignCard = !campaignCard"></i>
  </div>

  <div class="epy-row">
    <div class="col-12 col-8-m col-4-s">
      <span>Campaign card</span>
      <div class="card-panel card-campaign hoverable">
        <div class="card-header">
          <span class="card-title">100 - Brand [Entropy]</span>
          <span class="priority-label">High priority</span>
          <div class="camp-type">
            <i class="epy-icon-button-shopping"></i>
            <span>search</span>
          </div>
        </div>
        <div class="camp-details">
          <div class="general-info">
            <div class="field-info">
              <span class="field upper">Daily Budget</span>
              <span class="field">$ 100</span>
            </div>
            <div class="field-info">
              <span class="field upper">Status</span>
              <span class="field yellow">Paused</span>
            </div>
            <div class="field-info">
              <span class="field upper">Goal</span>
              <span class="field">Maximaze Clicks</span>
            </div>
          </div>
          <div class="stats">
            <span class="field subtitle">last 7 days: </span>
            <div class="stat">
              <span class="field upper">clicks</span>
              <b class="metric-score">1.1k</b>
              <div class="metric-percent">
                <i class="epy-icon-triangle-down text-red"></i>
                <span>-17.19%</span>
              </div>
            </div>
            <div class="stat">
              <span class="field upper">cost</span>
              <b class="metric-score">$20.0k</b>
              <div class="metric-percent">
                <i class="epy-icon-triangle-down text-red"></i>
                <span>-17.19%</span>
              </div>
            </div>
            <div class="stat">
              <span class="field upper">revenue</span>
              <b class="metric-score">$66.5k</b>
              <div class="metric-percent">
                <i class="epy-icon-triangle-up text-green"></i>
                <span>36.69%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="code-container" [ngClass]="{ hidden: !campaignCard }">
    <pre>
    <code class="html" Highlight>
    &lt;div class="card-panel card-campaign hoverable"&gt;
      &lt;div class="card-header"&gt;
        &lt;span class="card-title"&gt;100 - Brand [Entropy]&lt;/span&gt;
        &lt;span class="priority-label"&gt;High priority&lt;/span&gt;
        &lt;div class="camp-type"&gt;
          &lt;i class="epy-icon-button-shopping"&gt;&lt;/i&gt;
          &lt;span&gt;search&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="camp-details"&gt;
        &lt;div class="general-info"&gt;
          &lt;div class="field-info"&gt;
            &lt;span class="field upper"&gt;Daily Budget&lt;/span&gt;
            &lt;span class="field"&gt;$ 100&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="field-info"&gt;
            &lt;span class="field upper"&gt;Status&lt;/span&gt;
            &lt;span class="field yellow"&gt;Paused&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="field-info"&gt;
            &lt;span class="field upper"&gt;Goal&lt;/span&gt;
            &lt;span class="field"&gt;Maximaze Clicks&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="stats"&gt;
          &lt;span class="field subtitle"&gt;last 7 days: &lt;/span&gt;
          &lt;div class="stat"&gt;
            &lt;span class="field upper"&gt;clicks&lt;/span&gt;
            &lt;b class="metric-score"&gt;1.1k&lt;/b&gt;
            &lt;div class="metric-percent"&gt;
              &lt;i class="epy-icon-triangle-down text-red"&gt;&lt;/i&gt;
              &lt;span&gt;-17.19%&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="stat"&gt;
            &lt;span class="field upper"&gt;cost&lt;/span&gt;
            &lt;b class="metric-score"&gt;$20.0k&lt;/b&gt;
            &lt;div class="metric-percent"&gt;
              &lt;i class="epy-icon-triangle-down text-red"&gt;&lt;/i&gt;
              &lt;span&gt;-17.19%&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="stat"&gt;
            &lt;span class="field upper"&gt;revenue&lt;/span&gt;
            &lt;b class="metric-score"&gt;$66.5k&lt;/b&gt;
            &lt;div class="metric-percent"&gt;
              &lt;i class="epy-icon-triangle-up text-green"&gt;&lt;/i&gt;
              &lt;span&gt;36.69%&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code>
    </pre>
  </div>
</div>
