<div>
  <!-- **********************FONTS********************** -->
  <h4>Fonts</h4>
  <hr />
  <div class="wrapper-section">
    <h6>Types</h6>
    <div class="container">
      <span class="title">Title</span>
      <span class="subtitle">Subtitle</span>
      <span class="text-regular">Text regular</span>
      <span class="text-suggest">Text suggest</span>
      <span class="text-small">Text small</span>
      <span class="text-danger">Text danger</span>
    </div>
    <h6>Colors</h6>
    <div class="container">
      <span class="text-green">Text green</span>
      <span class="text-blue">Text blue</span>
      <span class="text-light-green">Text light green</span>
      <span class="text-lavander">Text lavander</span>
      <span class="text-purple">Text purple</span>
      <span class="text-yellow">Text yellow</span>
      <span class="text-red">Text red</span>
    </div>
  </div>

  <!-- **********************COLORS********************** -->
  <h4>Colors</h4>
  <hr />
  <div class="palette-container">
    <h6>Color Palette</h6>
    <div class="container color-palette">
      <div class="square jungle-green">
        <div class="color-name">
          <span class="text-white">jungle-green</span>
        </div>
        <div class="sub-square">
          <div class="mountain-meadow">
            <span class="text-small text-white">mountain-meadow</span>
          </div>
          <div class="algae-green">
            <span class="text-small text-white">algae-green</span>
          </div>
        </div>
      </div>

      <div class="square java">
        <div class="color-name">
          <span class="text-white">java</span>
        </div>
        <div class="sub-square">
          <div class="niagara">
            <span class="text-small text-white">niagara</span>
          </div>
          <div class="aqua-island">
            <span class="text-small text-white">aqua-island</span>
          </div>
        </div>
      </div>

      <div class="square yellow-green">
        <div class="color-name">
          <span class="text-white">yellow-green</span>
        </div>
        <div class="sub-square">
          <div class="conifer">
            <span class="text-small text-white">conifer</span>
          </div>
          <div class="tusk">
            <span class="text-small text-white">tusk</span>
          </div>
        </div>
      </div>

      <div class="square lavander">
        <div class="color-name">
          <span class="text-white">lavander</span>
        </div>
        <div class="sub-square">
          <div class="purple-heart">
            <span class="text-small text-white">purple-heart</span>
          </div>
          <div class="french-lilac">
            <span class="text-small text-white">french-lilac</span>
          </div>
        </div>
      </div>

      <div class="square royal-purple">
        <div class="color-name">
          <span class="text-white">royal-purple</span>
        </div>
        <div class="sub-square">
          <div class="daisy-bush">
            <span class="text-small text-white">daisy-bush</span>
          </div>
          <div class="amethyst">
            <span class="text-small text-white">amethyst</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container color-palette">
      <div class="circle-container">
        <div class="circle dune"></div>
        <span>dune</span>
      </div>

      <div class="circle-container">
        <div class="circle dove-gray"></div>
        <span>dove-gray</span>
      </div>

      <div class="circle-container">
        <div class="circle dusty-gray"></div>
        <span>dusty-gray</span>
      </div>

      <div class="circle-container">
        <div class="circle silver"></div>
        <span>silver</span>
      </div>

      <div class="circle-container">
        <div class="circle alto"></div>
        <span>alto</span>
      </div>

      <div class="circle-container">
        <div class="circle seashell"></div>
        <span>seashell</span>
      </div>
    </div>
    <div class="container color-palette">
      <div class="circle-container">
        <div class="circle albaster"></div>
        <span>albaster</span>
      </div>

      <div class="circle-container">
        <div class="circle white"></div>
        <span>white</span>
      </div>
      <div class="circle-container">
        <div class="circle sherpa-blue"></div>
        <span>sherpa-blue</span>
      </div>

      <div class="circle-container">
        <div class="circle matisse"></div>
        <span>matisse</span>
      </div>

      <div class="circle-container">
        <div class="circle wuzzy-brown"></div>
        <span>wuzzy-brown</span>
      </div>

      <div class="circle-container">
        <div class="circle bus-yellow"></div>
        <span>bus-yellow</span>
      </div>
    </div>

    <h6>Gradients</h6>
    <div class="gradient-container">
      <span>green-gradient</span>
      <div class="gradient green-gradient"></div>
    </div>
    <div class="gradient-container">
      <span>blue-gradient</span>
      <div class="gradient blue-gradient"></div>
    </div>
  </div>

  <h6>Shadows</h6>
  <div class="shadows-container">
    <div class="box-container">
      <div class="box-shadow-rectangle"></div>
      <span>x-large-shadow</span>
      <span class="text-suggest">Onboarding Rectangle</span>
      <span class="text-suggest">Hover & Focus</span>
    </div>
    <div class="box-container">
      <div class="box-shadow-lg"></div>
      <span>large-shadow</span>
      <span class="text-suggest">Large Buttons</span>
    </div>
    <div class="box-container">
      <div class="box-shadow-m"></div>
      <span>medium-shadow</span>
      <span class="text-suggest">Large Buttons</span>
    </div>
    <div class="box-container">
      <div class="box-shadow-sm"></div>
      <span>small-shadow</span>
      <span class="text-suggest">Large Buttons</span>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>Content colors</h6>
    <div class="container">
      <div class="content content-green">
        <span class="text-white text-small">content-green</span>
      </div>
      <div class="content content-blue">
        <span class="text-white text-small">content-blue</span>
      </div>
      <div class="content content-light-green">
        <span class="text-white text-small">content-light-green</span>
      </div>
      <div class="content content-lavander">
        <span class="text-white text-small">content-lavander</span>
      </div>
      <div class="content content-purple">
        <span class="text-white text-small">content-purple</span>
      </div>
      <div class="content content-yellow">
        <span class="text-white text-small">content-yellow</span>
      </div>
      <div class="content content-red">
        <span class="text-white text-small">content-red</span>
      </div>
    </div>
  </div>
</div>
