<div>
  <!-- **********************COLORS********************** -->
  <h1>Color Palette</h1>
  <hr />

  <!-- Colors palette -->
  <div class="wrapper-section">
    <div class="subtitle-container">
      <h4>Colors</h4>
      <span>Variables</span>
    </div>
    <div class="main-palette-container">
      <div class="epy-row">
        <div class="col-2 col-4-m col-4-s offset-1">
          <div class="square jungle-green">
            <div class="color-name">
              <span class="text-white">jungle-green</span>
            </div>
            <div class="sub-square">
              <div class="mountain-meadow">
                <span class="text-small text-white">mountain-meadow</span>
              </div>
              <div class="algae-green">
                <span class="text-small text-white">algae-green</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-4-m col-4-s">
          <div class="square java">
            <div class="color-name">
              <span class="text-white">java</span>
            </div>
            <div class="sub-square">
              <div class="niagara">
                <span class="text-small text-white">niagara</span>
              </div>
              <div class="aqua-island">
                <span class="text-small text-white">aqua-island</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-4-m col-4-s">
          <div class="square yellow-green">
            <div class="color-name">
              <span class="text-white">yellow-green</span>
            </div>
            <div class="sub-square">
              <div class="conifer">
                <span class="text-small text-white">conifer</span>
              </div>
              <div class="tusk">
                <span class="text-small text-white">tusk</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-4-m col-4-s">
          <div class="square lavander">
            <div class="color-name">
              <span class="text-white">lavander</span>
            </div>
            <div class="sub-square">
              <div class="purple-heart">
                <span class="text-small text-white">purple-heart</span>
              </div>
              <div class="french-lilac">
                <span class="text-small text-white">french-lilac</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-4-m col-4-s">
          <div class="square royal-purple">
            <div class="color-name">
              <span class="text-white">royal-purple</span>
            </div>
            <div class="sub-square">
              <div class="daisy-bush">
                <span class="text-small text-white">daisy-bush</span>
              </div>
              <div class="amethyst">
                <span class="text-small text-white">amethyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="epy-row">
      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle dune"></div>
          <span>dune</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle dove-gray"></div>
          <span>dove-gray</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle dusty-gray"></div>
          <span>dusty-gray</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle silver"></div>
          <span>silver</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle alto"></div>
          <span>alto</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle seashell"></div>
          <span>seashell</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle albaster"></div>
          <span>albaster</span>
        </div>
      </div>
      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle white"></div>
          <span>white</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle sherpa-blue"></div>
          <span>sherpa-blue</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle matisse"></div>
          <span>matisse</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle wuzzy-brown"></div>
          <span>wuzzy-brown</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container">
          <div class="circle bus-yellow"></div>
          <span>bus-yellow</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Gradients -->
  <div class="wrapper-section">
    <div class="subtitle-container">
      <h4>Gradients</h4>
      <span>Variables</span>
    </div>
    <div class="gradient-container">
      <span>green-gradient</span>
      <div class="gradient green-gradient"></div>
    </div>
    <div class="gradient-container">
      <span>blue-gradient</span>
      <div class="gradient blue-gradient"></div>
    </div>
  </div>

  <!-- Shadows -->
  <div class="wrapper-section">
    <div class="subtitle-container">
      <h4>Shadows</h4>
      <span>Variables</span>
    </div>
    <div class="epy-row">
      <div class="col-2 col-4-m col-4-s">
        <div class="box-container">
          <div class="box-shadow-sm"></div>
          <span>small-shadow</span>
          <span class="text-suggest">Small Buttons</span>
        </div>
      </div>

      <div class="col-3 col-4-m col-4-s">
        <div class="box-container">
          <div class="box-shadow-m"></div>
          <span>medium-shadow</span>
          <span class="text-suggest">Medium Buttons</span>
        </div>
      </div>

      <div class="col-3 col-4-m col-4-s">
        <div class="box-container">
          <div class="box-shadow-lg"></div>
          <span>large-shadow</span>
          <span class="text-suggest">Large Buttons</span>
        </div>
      </div>

      <div class="col-4 col-4-m col-4-s">
        <div class="box-container">
          <div class="box-shadow-rectangle"></div>
          <span>x-large-shadow</span>
          <span class="text-suggest">Onboarding Rectangle</span>
          <span class="text-suggest">Hover & Focus</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Usage -->
  <div class="wrapper-section">
    <div class="subtitle-container">
      <h4>Usage</h4>
      <span>Variables</span>
    </div>

    <div class="epy-row">
      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle dove-gray"></div>
          <span>dove-gray</span>
          <span class="text-suggest">Normal Text Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle albaster"></div>
          <span>albaster</span>
          <span class="text-suggest">Background Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle seashell"></div>
          <span>seashell</span>
          <span class="text-suggest">Border/Line Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle bus-yellow"></div>
          <span>bus-yellow</span>
          <span class="text-suggest">Alert Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle wuzzy-brown"></div>
          <span>wuzzy-brown</span>
          <span class="text-suggest">Destructive Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle java"></div>
          <span>java</span>
          <span class="text-suggest">Informative Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle niagara"></div>
          <span>niagara</span>
          <span class="text-suggest">Hover Informative Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle jungle-green"></div>
          <span>jungle-green</span>
          <span class="text-suggest">Active Color</span>
        </div>
      </div>

      <div class="col-2 col-4-m col-4-s">
        <div class="circle-container usage">
          <div class="circle mountain-meadow"></div>
          <span>mountain-meadow</span>
          <span class="text-suggest">Hover Active Color</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Content colors -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Content colors</h4>
      <i
        class="fa fa-code"
        (click)="contentColorsDisplay = !contentColorsDisplay"
      ></i>
    </div>

    <div class="epy-row">
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-green">
          <span class="text-small text-white">content-green</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-blue">
          <span class="text-small text-white">content-blue</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-light-green">
          <span class="text-small text-white">content-light-green</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-lavander">
          <span class="text-small text-white">content-lavander</span>
        </div>
      </div>
    </div>
    <div class="epy-row">
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-purple">
          <span class="text-small text-white">content-purple</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-yellow">
          <span class="text-small text-white">content-yellow</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-red">
          <span class="text-small text-white">content-red</span>
        </div>
      </div>
      <div class="col-3 col-4-m col-4-s">
        <div class="content content-white">
          <span class="text-small">content-white</span>
        </div>
      </div>
    </div>

    <div class="code-container" [ngClass]="{ hidden: !contentColorsDisplay }">
      <pre>
    <code class="html" Highlight>
    &lt;div class="container"&gt;
        &lt;div class="content content-green"&gt;
            &lt;span class="text-small text-white"&gt;content-green&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-blue"&gt;
            &lt;span class="text-small text-white"&gt;content-blue&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-light-green"&gt;
            &lt;span class="text-small text-white"&gt;content-light-green&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-lavander"&gt;
            &lt;span class="text-small text-white"&gt;content-lavander&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-purple"&gt;
            &lt;span class="text-small text-white"&gt;content-purple&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-yellow"&gt;
            &lt;span class="text-small text-white"&gt;content-yellow&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-red"&gt;
            &lt;span class="text-small text-white"&gt;content-red&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class="content content-white"&gt;
        &lt;span class="text-small"&gt;content-white&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    </code>
    </pre>
    </div>
  </div>

  <!-- **********************FONTS********************** -->
  <h1>Fonts</h1>
  <hr />

  <!-- Types -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Types</h4>
      <i class="fa fa-code" (click)="fontTypesDisplay = !fontTypesDisplay"></i>
    </div>

    <div class="epy-row">
      <span class="col-2 col-4-m col-4-s title">Title</span>
      <span class="col-2 col-4-m col-4-s subtitle">Subtitle</span>
      <span class="col-2 col-4-m col-4-s text-regular">Text regular</span>
      <span class="col-2 col-4-m col-4-s text-suggest">Text suggest</span>
      <span class="col-2 col-4-m col-4-s text-small">Text small</span>
      <span class="col-2 col-4-m col-4-s text-danger">Text danger</span>
    </div>

    <div class="code-container" [ngClass]="{ hidden: !fontTypesDisplay }">
      <pre>
      <code class="html" Highlight>
        &lt;span class="title"&gt;Title&lt;/span&gt;
        &lt;span class="subtitle"&gt;Subtitle&lt;/span&gt;
        &lt;span class="text-regular"&gt;Text regular&lt;/span&gt;
        &lt;span class="text-suggest"&gt;Text suggest&lt;/span&gt;
        &lt;span class="text-small"&gt;Text small&lt;/span&gt;
        &lt;span class="text-danger"&gt;Text danger&lt;/span&gt;
      </code>
    </pre>
    </div>
  </div>

  <!-- Colors -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Colors</h4>
      <i
        class="fa fa-code"
        (click)="fontColorsDisplay = !fontColorsDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <span class="col-2 col-4-m col-4-s text-green">Text green</span>
      <span class="col-2 col-4-m col-4-s text-blue">Text blue</span>
      <span class="col-2 col-4-m col-4-s text-light-green"
        >Text light green</span
      >
      <span class="col-2 col-4-m col-4-s text-lavander">Text lavander</span>
      <span class="col-2 col-4-m col-4-s text-purple">Text purple</span>
      <span class="col-2 col-4-m col-4-s text-yellow">Text yellow</span>
      <span class="col-2 col-4-m col-4-s text-red">Text red</span>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !fontColorsDisplay }">
      <pre>
        <code class="html" Highlight>
        &lt;span class="text-green"&gt;Text green&lt;/span&gt;
        &lt;span class="text-blue"&gt;Text blue&lt;/span&gt;
        &lt;span class="text-light-green"&gt;Text light green&lt;/span&gt;
        &lt;span class="text-lavander"&gt;Text lavander&lt;/span&gt;
        &lt;span class="text-purple"&gt;Text purple&lt;/span&gt;
        &lt;span class="text-yellow"&gt;Text yellow&lt;/span&gt;
        &lt;span class="text-red"&gt;Text red&lt;/span&gt;
        </code>
        </pre>
    </div>
  </div>
</div>
