.wrapper-section {
  padding-top: 10px;
  padding-bottom: 15px;
}

.subtitle-container,
h6 {
  margin-top: 32px;
}

.container {
  display: flex;
  align-items: center;
  padding: 15px 0;

  div {
    margin-right: 3%;
  }
}
