<div>
  <h4>Inputs</h4>
  <hr />
  <div class="wrapper-section">
    <h6>Outline</h6>
    <div class="container">
      <div class="input input-outline">
        <div class="wrapper-input">
          <input type="text" placeholder="Campaign name" />
        </div>
      </div>
      <div class="input input-outline">
        <div class="wrapper-input">
          <img
            class="icon icon-left"
            src="../../assets/icons/search_icon.svg"
          />
          <input type="text" />
        </div>
      </div>
      <div class="input input-outline">
        <div class="wrapper-input">
          <input type="text" />
          <img
            class="icon icon-right"
            src="../../assets/icons/search_icon.svg"
          />
        </div>
      </div>
    </div>

    <h6>Line</h6>
    <div class="container">
      <div class="input input-line">
        <div class="wrapper-input">
          <input type="text" />
        </div>
      </div>
      <div class="input input-line">
        <div class="wrapper-input">
          <input type="email" placeholder="email" value="1234" />
        </div>
      </div>
      <div class="input input-line">
        <div class="wrapper-input">
          <input type="email" placeholder="search" />
          <img class="icon" src="./assets/icons/search_icon.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
