<div>
  <h4>Buttons</h4>
  <hr />
  <div class="subtitle-container">
    <span class="subtitle">Types</span>
  </div>

  <div class="wrapper-section">
    <h6>Containded Buttons</h6>
    <div class="container">
      <button class="btn btn-default">
        default
      </button>
      <button class="btn btn-primary">
        primary
      </button>
      <button class="btn btn-primary" disabled>
        disabled
      </button>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>Outlined Buttons</h6>
    <div class="container">
      <button class="btn btn-outline">
        outline
      </button>
      <button class="btn btn-primary btn-outline">
        primary outline
      </button>
      <button class="btn btn-primary btn-outline" disabled>
        disabled
      </button>
      <button class="btn btn-destructive btn-outline">
        destructive
      </button>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>Text Buttons - Links</h6>
    <div class="container">
      <button class="btn btn-link">
        link
      </button>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>Destructive Buttons</h6>
    <div class="container">
      <button class="btn btn-destructive btn-outline">
        destructive
      </button>
      <button class="btn btn-destructive">
        destructive
      </button>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>No border Buttons</h6>
    <div class="container">
      <button class="btn btn-border-none">
        Create a new campaign
      </button>
      <div class="btn btn-border-none btn-icon" style="width:200px">
        <img
          class="icon"
          src="../../assets/icons/create_campaign_icon_on.svg"
        />
        <span class="text">Create a new campaign</span>
      </div>
      <div class="btn btn-border-none btn-icon" style="width:200px">
        <span class="text">Create a new campaign</span>
        <img
          class="icon"
          src="../../assets/icons/create_campaign_icon_on.svg"
        />
      </div>
    </div>
  </div>

  <div class="subtitle-container">
    <span class="subtitle">Sizes</span>
  </div>
  <div class="wrapper-section">
    <div class="container">
      <button class="btn btn-primary btn-tight">
        tight
      </button>
      <button class="btn btn-primary btn-small">
        small
      </button>
      <button class="btn btn-primary">
        default
      </button>
      <button class="btn btn-primary btn-large">
        large
      </button>
    </div>
  </div>

  <div class="subtitle-container">
    <span class="subtitle">Figures</span>
  </div>

  <div class="wrapper-section">
    <h6>Square Buttons</h6>
    <div class="container">
      <button class="btn btn-square-small">
        <img class="icon" src="../../assets/icons/change_card.svg" />
      </button>
      <button class="btn btn-square-small btn-info">
        <img class="icon" src="../../assets/icons/change_table.svg" />
      </button>
      <button class="btn btn-default btn-square">
        <img class="icon" src="../../assets/google-merchant-center.png" />
        default square
      </button>
      <button class="btn btn-default btn-square">
        <img class="icon" src="../../assets/google-merchant-center.png" />
        default square
        <img class="icon" src="../../assets/icons/check_on_fill_icon.svg" />
      </button>
      <button class="btn btn-primary btn-square">
        <img class="icon" src="../../assets/icons/not_sure_white_icon.svg" />
        primary square
      </button>
    </div>
  </div>

  <div class="wrapper-section">
    <h6>Rectangle</h6>
    <button class="btn btn-default btn-rectangle">
      <img class="icon" src="./assets/icons/import_icon .svg" />
      default rectangle
    </button>
  </div>
</div>
