<div class="buttons-wrapper">
  <h3>Buttons</h3>
  <h5>Containded Buttons</h5>
  <div class="container">
    <button class="btn btn-default">
      default
    </button>
    <button class="btn btn-primary">
      primary
    </button>
    <button class="btn btn-primary" disabled>
      disabled
    </button>
  </div>

  <!-- <button class="btn btn-outline">
    outline
  </button>
  <button class="btn btn-primary btn-outline">
    primary outline
  </button>
  <button class="btn btn-primary btn-outline" disabled>
    disabled
  </button> -->
</div>
