<div>
  <h1>Buttons</h1>
  <hr />
  <div class="subtitle-container">
    <div class="subtitle">Types</div>
  </div>

  <!-- Contained -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Contained Buttons</h4>
      <i
        class="fa fa-code"
        (click)="containBtnDisplay = !containBtnDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-default">
          default
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary">
          primary
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary" disabled>
          disabled
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary disabled">
          disabled
        </button>
      </div>
    </div>

    <div class="code-container" [ngClass]="{ hidden: !containBtnDisplay }">
      <pre>
        <code class="html" Highlight>
          &lt;button class="btn btn-default"&gt;
              default
          &lt;/button&gt;
          &lt;button class="btn btn-primary"&gt;
              primary
          &lt;/button&gt;
          &lt;button class="btn btn-primary" disabled&gt;
              disabled
          &lt;/button&gt;
          &lt;button class="btn btn-primary disabled"&gt;
              disabled
          &lt;/button&gt;
        </code>
        </pre>
    </div>
  </div>

  <!-- Outlined -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Outlined Buttons</h4>
      <i
        class="fa fa-code"
        (click)="outlineBtnDisplay = !outlineBtnDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <div class="col-2 col-2-m col-2-s">
        <button class="btn btn-outline">
          outline
        </button>
      </div>
      <div class="col-3 col-3-m col-4-s">
        <button class="btn btn-primary btn-outline">
          primary outline
        </button>
      </div>
      <div class="col-2 col-2-m col-2-s">
        <button class="btn btn-primary btn-outline" disabled>
          disabled
        </button>
      </div>
      <div class="col-2 col-2-m col-2-s">
        <button class="btn btn-primary btn-outline disabled">
          disabled
        </button>
      </div>
      <div class="col-2 col-2-m col-2-s">
        <button class="btn btn-destructive btn-outline">
          destructive
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !outlineBtnDisplay }">
      <pre>
      <code class="html" Highlight>
      &lt;button class="btn btn-outline"&gt;
          outline
      &lt;/button&gt;
      &lt;button class="btn btn-primary btn-outline"&gt;
          primary outline
      &lt;/button&gt;
      &lt;button class="btn btn-primary btn-outline" disabled&gt;
          disabled
      &lt;/button&gt;
      &lt;button class="btn btn-primary btn-outline disabled"&gt;
        disabled
      &lt;/button&gt;
      &lt;button class="btn btn-destructive btn-outline"&gt;
          destructive
      &lt;/button&gt;
      </code>
      </pre>
    </div>
  </div>

  <!-- Destructive -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Destructive Buttons</h4>
      <i
        class="fa fa-code"
        (click)="destructiveBtnDisplay = !destructiveBtnDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-destructive">
          destructive
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-destructive btn-outline">
          destructive
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !destructiveBtnDisplay }">
      <pre>
          <i
          class="fa fa-copy"
          ngxClipboard [cbContent]="'Text to be copied'"
        ></i>
        <code class="html" Highlight>
        &lt;button class="btn btn-destructive"&gt;
          destructive
        &lt;/button&gt;
        &lt;button class="btn btn-destructive btn-outline"&gt;
          destructive
        &lt;/button&gt;
        </code>
        </pre>
    </div>
  </div>

  <!-- No border & Links -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>No border Buttons & Links</h4>
      <i
        class="fa fa-code"
        (click)="noBorderBtnDisplay = !noBorderBtnDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <div class="col-3 col-3-m col-4-s">
        <button class="btn btn-border-none">
          No border button
        </button>
      </div>
      <div class="col-3 col-3-m col-4-s">
        <button class="btn btn-border-none">
          <span class="text-green">No border button</span>
        </button>
      </div>
      <div class="col-2 col-2-m col-2-s">
        <button class="btn btn-link">
          link
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !noBorderBtnDisplay }">
      <pre>
      <code class="html" Highlight>
        &lt;button class="btn btn-border-none"&gt;
            No border button
        &lt;/button&gt;
        &lt;button class="btn btn-border-none"&gt;
          &lt;span class="text-green"&gt;No border button&lt;/span&gt;
        &lt;/button&gt;
        &lt;button class="btn btn-link"&gt;
          link
        &lt;/button&gt;
        </code>
        </pre>
    </div>
  </div>

  <div class="subtitle-container">
    <div class="subtitle">Content</div>
  </div>

  <!-- Icons -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Icons</h4>
      <i class="fa fa-code" (click)="iconsBtnDisplay = !iconsBtnDisplay"></i>
    </div>
    <div class="epy-row">
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary">
          <i class="fa fa-edit left"></i> primary
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary">
          primary <i class="fa fa-edit right"></i>
        </button>
      </div>
      <div class="col-3 col-2-m col-2-s">
        <button class="btn btn-primary">
          <i class="fa fa-edit left"></i> primary
          <i class="fa fa-user right"></i>
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !iconsBtnDisplay }">
      <pre>
      <code class="html" Highlight>
      &lt;button class="btn btn-primary"&gt;
        &lt;i class="fa fa-edit left"&gt;&lt;/i&gt; primary
      &lt;/button&gt;
      &lt;button class="btn btn-primary"&gt;
        primary &lt;i class="fa fa-edit right"&gt;&lt;/i&gt;
      &lt;/button&gt;
      &lt;button class="btn btn-primary"&gt;
        &lt;i class="fa fa-edit left"&gt;&lt;/i&gt;
        primary
        &lt;i class="fa fa-user right"&gt;&lt;/i&gt;
      &lt;/button&gt;
      </code>
      </pre>
    </div>
  </div>

  <!-- Square -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Square Buttons</h4>
      <i class="fa fa-code" (click)="squareBtnDisplay = !squareBtnDisplay"></i>
    </div>

    <div class="epy-row">
      <div class="col-1 col-2-m col-2-s">
        <button class="btn btn-square-small">
          <img class="icon" src="../../assets/icons/change_card.svg" />
        </button>
      </div>

      <div class="col-1 col-2-m col-2-s">
        <button class="btn btn-square-small btn-info">
          <img class="icon" src="../../assets/icons/change_table.svg" />
        </button>
      </div>

      <div class="col-3 col-4-m col-4-s">
        <button class="btn btn-square btn-default">
          <img class="icon" src="../../assets/google-merchant-center.png" />
          default square
        </button>
      </div>

      <div class="col-3 col-4-m col-4-s">
        <button class="btn btn-square btn-default">
          <img class="icon" src="../../assets/google-merchant-center.png" />
          default square
          <img class="icon" src="../../assets/icons/check_on_fill_icon.svg" />
        </button>
      </div>

      <div class="col-3 col-4-m col-4-s">
        <button class="btn btn-square btn-primary">
          <img class="icon" src="../../assets/icons/not_sure_white_icon.svg" />
          primary square
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !squareBtnDisplay }">
      <pre>
      <code class="html" Highlight>
      &lt;button class="btn btn-square-small"&gt;
        &lt;img class="icon" src="..." /&gt;
      &lt;/button&gt;
      &lt;button class="btn btn-square-small btn-info"&gt;
        &lt;img class="icon" src="..." /&gt;
      &lt;/button&gt;
      &lt;button class="btn btn-square btn-default"&gt;
        &lt;img class="icon" src="..." /&gt;
        default square
      &lt;/button&gt;
      &lt;button class="btn btn-square btn-default"&gt;
        &lt;img class="icon" src="..." /&gt;
        default square
        &lt;img class="icon" src="..." /&gt;
      &lt;/button&gt;
      &lt;button class="btn btn-square btn-primary"&gt;
        &lt;img class="icon" src="..." /&gt;
        primary square
      &lt;/button&gt;
      </code>
      </pre>
    </div>
  </div>

  <!-- Rectangle -->
  <div class="wrapper-section">
    <div class="subtitle-container subtitle-icon">
      <h4>Rectangle</h4>
      <i
        class="fa fa-code"
        (click)="rectangleBtnDisplay = !rectangleBtnDisplay"
      ></i>
    </div>
    <div class="epy-row">
      <div class="col-4 col-4-m col-4-sm">
        <button class="btn btn-default btn-rectangle">
          <img class="icon" src="./assets/icons/import_icon .svg" />
          default rectangle
        </button>
      </div>
    </div>
    <div class="code-container" [ngClass]="{ hidden: !rectangleBtnDisplay }">
      <pre>
        <code class="html" Highlight>
        &lt;button class="btn btn-default btn-rectangle"&gt;
          &lt;img class="icon" src="..." /&gt;
          default rectangle
        &lt;/button&gt;
        </code>
        </pre>
    </div>
  </div>
</div>
