<div>
  <h4>Tooltip</h4>
  <hr />
  <div class="row">
    <div class="col s9">
      <div
        class="tooltip"
        (click)="tooltipActive = !tooltipActive"
        [ngClass]="{ active: tooltipActive }"
      >
        <div class="tooltip-header">
          <span class="tooltip-title">tooltip title?</span>
        </div>
        <div class="tooltip-content">
          tooltip content
        </div>
      </div>
    </div>
    <div class="col s3">
      <div
        class="tooltip"
        (click)="tooltipActiveTwo = !tooltipActiveTwo"
        [ngClass]="{ active: tooltipActiveTwo }"
      >
        <div class="tooltip-header">
          <span class="tooltip-title">tooltip title?</span>
        </div>
        <div class="tooltip-content">
          tooltip contenttt
        </div>
      </div>
    </div>
  </div>
</div>
