<div class="dashboard">
  <div class="menu">
    <app-aside-menu></app-aside-menu>
  </div>
  <div class="main-section">
    <app-font-color *ngIf="selectedComponent === 'fonts & colors'"></app-font-color>
    <app-button *ngIf="selectedComponent === 'buttons'"></app-button>
    <app-input *ngIf="selectedComponent === 'inputs'"></app-input>
    <app-select *ngIf="selectedComponent === 'selects'"></app-select>
    <app-tooltip *ngIf="selectedComponent === 'tooltips'"></app-tooltip>
    <app-card *ngIf="selectedComponent === 'cards'"></app-card>
    <app-loader *ngIf="selectedComponent === 'loaders'"></app-loader>
    <app-grid *ngIf="selectedComponent === 'grid'"> </app-grid>
  </div>
</div>
